a {
    text-decoration: none;
}

.user__wraper {
    border: 1px solid #333333;
    height: 250px;
    width: 250px;
    border-radius: 5px;
    background-color: #fff;
    margin-bottom: 15px;
}

.user__title {
    text-align: center;
}

.accept__btn {
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 3px 15px;
    position: relative;
    cursor: pointer;
    top: 60px;
    left: 85px;
    color: #000;
    transition: all 0.3s ease-in-out;
}

.accept__btn:hover {
    font-weight: bold;
    border: 2px solid #000000;
    box-shadow: #666565 3px 3px 10px;
    transition: all 0.3s ease-in-out;
}
